@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500&family=Press+Start+2P&display=swap');


header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: #01a3a4;
    border-bottom: 10px solid #576574;
    padding: 10px 20px;
}

#name {
    color: #c8d6e5;
    font-size: 25px;
    font-family: 'Press Start 2P', cursive, sans-serif;
    text-shadow: 5px 5px 0px #00d2d3;
}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: #c8d6e5;
    font-size: 20px;
    font-family: 'Fira Code',Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before{
    content: '';
    background-color: #c8d6e5;
    height: 10px;
    width: 10px;
    margin-right: 10px;
}

.button {
    display: inline-block;
    background-color: #c8d6e5;
    color: #576574; 
    box-shadow: 5px 5px #000;
    padding: 18px 20px;
    margin-right: 0;
    transition: transform 100ms cubic-bezier(1,-0.22,.34,2.68);
}

.button:hover{
    background-color: #c8d6e5;
    transform: scale(1.08);
    color: #222f3e;
}

